body {
  background-image: url("../images/background.jpg");
  background-size: cover;
}

.container {
  margin: 0 auto;
  max-width: auto;
  border-radius: 30px;
  min-height: 600px;
  background-color: rgba(255,255,255,0.8);
  /*border: 1px solid black;*/
  margin-top: 50px;
}

.header {
  text-shadow: 3px 3px 3px rgb(174, 181, 200);
  font-size: 44px;
  font-weight: bold;
  letter-spacing: 2px;
  text-align: center;
  min-height: 65px;
  border-left: 2px solid gray;
  border-bottom: 4px solid gray;
  border-right: 2px solid gray;
}

.gameboard {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  min-height: 550px;
}

.scoreboard {
  text-shadow: 3px 3px 3px rgb(174, 181, 200);
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 1px solid gray;
}

.score1 {
  text-shadow: 3px 3px 3px rgb(174, 181, 200);
  font-size: 32px;
  font-weight: 200;
  color: gray;
  letter-spacing: 4px;
  text-align: right;
}

.score2 {
  text-shadow: 3px 3px 3px rgb(174, 181, 200);
  font-size: 32px;
  font-weight: 200;
  color: gray;
  letter-spacing: 4px;
    text-align: right;
}

.correctboard {
  text-shadow: 3px 3px 3px rgb(174, 181, 200);
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 1px solid gray;
}

.correct1 {
  text-shadow: 3px 3px 3px rgb(174, 181, 200);
  font-size: 28px;
  font-weight: 200;
  color: gray;
  letter-spacing: 4px;
    text-align: right;
}

.correct2 {
  text-shadow: 3px 3px 3px rgb(174, 181, 200);
  font-size: 28px;
  font-weight: 200;
  color: gray;
  letter-spacing: 4px;
    text-align: right;
}

.timerboard {
  text-shadow: 3px 3px 3px rgb(174, 181, 200);
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 1px solid gray;
}

.playertitle1 {
  text-shadow: 3px 3px 3px rgb(174, 181, 200);
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 1px solid gray;
}

.playertitle2 {
  text-shadow: 3px 3px 3px rgb(174, 181, 200);
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  border-bottom: 1px solid gray;
  text-align: right;
}

.timer {
  text-shadow: 3px 3px 3px rgb(174, 181, 200);
  font-size: 40px;
  font-weight: 400;
  color: gray;
  letter-spacing: 4px;
  text-align: right;
}

.popup {
  padding-top: 5px;
  font-size: 24px;
  font-weight: 200;
  color: black;
  text-align: center;
  letter-spacing: 3px;
  margin: 0 auto;
}

.btn {
  width: 100px;
  height: 40px;
  font-size: 20px !important;
}

#btn-answers1 {
  width: 325px !important;
}
#btn-answers2 {
  width: 325px !important;
}
#btn-answers3 {
  width: 325px !important;
}

#btn-answers4 {
  width: 325px !important;
}

#btn-answers5 {
  width: 325px !important;
}


.redcolor {
  color: red !important;
}

.largefont {
  font-size: 60px;
}

.bigfont {
  font-size: 32px;
}
